@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>Бизнес-школа РГЭУ</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>О Бизнес-школе</h2>
        <p>
            Мы работаем, чтобы сделать Бизнес-школу РГЭУ (РИНХ) лучшей образовательной площадкой на Юге России.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Наши цели</h2>
        <p>
            Мы хотим, чтобы диплом о бизнес-образовании давал нашим выпускникам преимущество 
            на несколько лет вперед,повышал их статус, как на рынке труда, так и внутри компании.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Наши задачи</h2>
        <p>
            Мы хотим, чтобы каждому человеку, который приходит в Бизнес-школу РГЭУ (РИНХ), 
            было доступно получение бизнес-образования.
        </p>
        <p><a class="btn btn-default" href="http://xn-----7kcculgfpkshi5ai7eyb.xn--p1ai/">Подробнее... &raquo;</a></p>
    </div>
</div>
